<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="NewBehavior0">
          <serviceMetadata httpGetEnabled="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="NewBehavior0" name="Service_dll.FolderContents">
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration=""
          name="mex" contract="IMetadataExchange" />
        <endpoint address="net.tcp://localhost/FolderContents/ep1" 
                  binding="netTcpBinding" bindingConfiguration=""
          name="ep1" contract="Service_dll.IFolderContents" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost/WindowsServiceHostServise_Dll/FolderContents" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>